h1{
    color:red;
}
h2{
    color:blue;
}
/* selector de etiqueta */ 








/* selector de clase */
oscuro{
    background-color:black;
    color:white;}
    /* selector ID */
    #biografía {
        background-color: blue;
    }